<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <!-- Header -->
  <div th:replace="fragments/head :: head"></div>

  <title id="page-title" th:text="#{pages.layout.title}"></title>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <div th:replace="fragments/navbar :: navbar"></div>

  <!-- Main Sidebar Container -->
  <div th:replace="fragments/sidebar :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <!-- .row -->
        <div class="row justify-content-between align-items-center">
          <!-- .col-->
          <div class="col mr-2">
            <!-- .info-box -->
            <div class="info-box">
              <span class="info-box-icon bg-primary"><em class="far fa-exclamation"></em></span>
              <div class="info-box-content">
                <h4 class="info-box-text">
                  <strong><span
                          th:text="#{pages.layout.info-box.title}"></span></strong><br/>
                  <span th:text="#{pages.layout.info-box.description}"></span>
                  <em class="far fa-thumbs-up"></em>
                </h4>
              </div>
            </div><!-- /.info-box -->
          </div><!-- /.col -->

          <!-- .col -->
          <div class="col-auto">
            <!-- .info-box -->
            <div class="info-box">
              <div class="info-box-content">
                <!-- Breadcrumb -->
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a th:href="@{/}" class="text-dark">
                      <em class="fas fa-dove"></em> <strong>Wedder</strong> Forecast <em class="fas fa-cloud-sun-rain"></em>
                    </a>
                  </li>
                  <li class="breadcrumb-item">
                    <span class="text-primary" th:text="#{pages.layout.breadcrumb}"></span>
                  </li>
                  <li>

                    <!-- Breadcrumbs goes here -->

                  </li>
                </ol>
              </div><!-- /.breadcrumb -->
            </div><!-- /.info-box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div><!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col">

            <!-- Content goes here -->

          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <!-- Modal -->

  <!-- Modal goes here -->

  <!-- Main Footer -->
  <div th:replace="fragments/footer :: footer"></div>

</div><!-- ./wrapper -->

<!-- Required Scripts -->
<div th:replace="fragments/required-scripts :: required-scripts"></div>

</body>
</html>
