<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<footer class="main-footer" th:fragment="footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    <span th:text="#{pages.footer.quote}">Happily ever after!</span>
    <em class="fas fa-heart"></em>
  </div>
  <!-- To the left -->
  <strong><span th:text="#{pages.footer.copyright}">Copyright</span> &copy; 2020 <a
          href="https://github.com/batetolast1">Bartosz Robakowski</a>.</strong>
  <span th:text="#{pages.footer.rights}">All rights reserved.</span>
</footer><!-- /.footer -->
