<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="header">
    <ul>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/}"
               th:text="#{pages.navbar.main-page}"></a>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/register}"
               th:text="#{pages.navbar.register}"></a>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}"
               th:text="#{pages.navbar.login}"></a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/user/dashboard}"
               th:text="#{pages.navbar.dashboard}"></a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}"
                  method="post">
                <input type="submit"
                       th:value="#{pages.navbar.logout}"/>
            </form>
        </li>
        <li>
            <a href="?lang=pl"><strong>PL</strong></a>&nbsp|&nbsp<a href="?lang=en"><strong>EN</strong></a>
        </li>
    </ul>
</nav>
