<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
  <!-- Brand Logo -->
  <a th:href="@{/}" class="brand-link">
    <i class="nav-icon fas fa-dove"></i> <span class="brand-text font-weight-light"><b>Wedder</b> Forecast</span> <i
            class="fas fa-cloud-sun-rain"></i>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex" sec:authorize="isAuthenticated()">
      <div class="image">
        <img th:src="@{/dist/img/user-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block"><span sec:authentication="name">Username</span></a>
      </div>
    </div>

    <!-- SidebarSearch Form -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a th:href="@{/login}" class="nav-link">
            <i class="nav-icon fas fa-sign-in-alt"></i>
            <p th:text="#{pages.sidebar.login}">
              Login
            </p>
          </a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a th:href="@{/register}" class="nav-link">
            <i class="nav-icon fas fa-file-signature"></i>
            <p th:text="#{pages.sidebar.register}">
              Register
            </p>
          </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a th:href="@{/user/dashboard}" class="nav-link">
            <i class="nav-icon fas fa-angle-double-right"></i>
            <p th:text="#{pages.sidebar.dashboard}">
              Register
            </p>
          </a>
        </li>
        <li class="nav-item menu-open" sec:authorize="isAuthenticated()">
          <a href="#" class="nav-link active">
            <i class="nav-icon far fa-calendar-check"></i>
            <p>
              <span th:text="#{pages.sidebar.daily-weathers}">Daily weathers</span>
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/user/daily-result-form}" class="nav-link active">
                <i class="far fa-calendar-plus nav-icon"></i>
                <p th:text="#{pages.sidebar.daily-result-form}">Check daily weather!</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/user/daily-results}" class="nav-link">
                <i class="far fa-calendar-alt nav-icon"></i>
                <p th:text="#{pages.sidebar.daily-results}">All daily results</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item menu-open" sec:authorize="isAuthenticated()">
          <a href="#" class="nav-link active">
            <i class="nav-icon far fa-clock"></i>
            <p>
              <span th:text="#{pages.sidebar.hourly-weathers}">Hourly weathers</span>
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/user/hourly-result-form}" class="nav-link active">
                <i class="fas fa-clock nav-icon"></i>
                <p th:text="#{pages.sidebar.hourly-result-form}">Check hourly weather!</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/user/hourly-results}" class="nav-link">
                <i class="fas fa-history nav-icon"></i>
                <p th:text="#{pages.sidebar.hourly-results}">All hourly results</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" onclick="document.forms['logoutForm'].submit()">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p th:text="#{pages.sidebar.logout}">
              Logout
            </p>
          </a>
          <form id="logoutForm" th:action="@{/logout}" method="post">
          </form>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
