<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pages.homepage.title}"></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/google-maps-autocomplete-form.css}"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAibLFtxSmWFtuJPHl90pTl5FZlgJR6AzM&callback=initMap&libraries=places&v=weekly"
            defer></script>
    <script th:src="@{/js/google-maps-autocomplete-form.js}"></script>
</head>
<body>
    <nav th:replace="fragments/header :: header">
        <h1>Header</h1>
    </nav>

    <h1 th:text="#{pages.index.h1}">Wedder Forecast</h1>
    <h2 th:text="#{pages.index.h2}">Let's predict weather for your wedding!</h2>

    <div class="pac-card" id="pac-card">
        <div>
            <div id="title">Wedder forecast</div>
            <div id="type-selector" class="pac-controls">
                <input type="radio" name="type" id="changetype-address" checked="checked"/>
                <label for="changetype-address">Addresses</label>

                <input type="radio" name="type" id="changetype-establishment"/>
                <label for="changetype-establishment">Establishments</label>
            </div>
        </div>
        <div id="pac-container">
            <input id="pac-input" type="text" placeholder="Enter a location"/>
        </div>
    </div>

    <div id="map"></div>

    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon"/>
        <span id="place-name" class="title"></span><br/>
        <span id="place-address"></span><br/>

        <form id="form"
              onsubmit="disableSendButton(this)"
              th:action="@{/simple-result}"
              method="post"
              th:object="${requestGoogleMapsDailyResultDto}">
            <input type="text"
                   id="postalCode"
                   name="postalCode"
                   th:field="*{locationDto.postalCode}"
                   hidden>
            <input type="text"
                   id="countryCode"
                   name="countryCode"
                   th:field="*{locationDto.countryCode}"
                   hidden>
            <input type="text"
                   id="placeId"
                   name="placeId"
                   th:field="*{locationDto.placeId}"
                   hidden>
            <input type="text"
                   id="formattedAddress"
                   name="formattedAddress"
                   th:field="*{locationDto.formattedAddress}"
                   hidden>
            <label for="localDate">Select date:</label>
            <input type="date"
                   id="localDate"
                   name="localDate"
                   th:field="*{localDate}">
            <input type="submit" value="Predict weather!"/>
        </form>
    </div>

</body>
</html>