<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <!-- Header -->
  <div th:replace="fragments/head :: head"></div>

  <title id="page-title" th:text="#{pages.login.title}"></title>
</head>
<body class="hold-transition login-page layout-navbar-fixed layout-footer-fixed">
<div class="login-box">
  <!-- .card -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a th:href="@{/}" class="h2">
        <i class="fas fa-dove"></i> <b>Wedder</b> Forecast <i class="fas fa-cloud-sun-rain"></i>
      </a>
    </div>
    <div class="card-body">
      <p class="login-box-msg" th:text="#{pages.login.header}"></p>
      <!-- .form-->
      <form th:action="@{/login}"
            method="post">
        <div class="input-group mb-3">
          <input type="text"
                 class="form-control"
                 th:placeholder="#{pages.login.username}"
                 name="username"
                 autocomplete="username"
                 autofocus="autofocus"
                 required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password"
                 class="form-control"
                 th:placeholder="#{pages.login.password}"
                 name="password"
                 autocomplete="current-password"
                 required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row mb-3" th:if="${(param.error != null) and (param.error[0] == 'true')}">
          <div class="col">
            <div class="card alert alert-warning alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5>
                <i class="icon fas fa-exclamation-triangle"></i>
                <span th:text="#{pages.login.alert.header}"></span>
              </h5>
              <span th:text="#{pages.login.alert.text}"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox"
                     id="remember"
                     name="remember-me">
              <label for="remember" th:text="#{pages.login.remember-me}"></label>
            </div>
          </div>
          <div class="col-4">
            <button type="submit"
                    class="btn btn-primary btn-block"
                    th:value="#{pages.login.button}"></button>
          </div>
        </div>
      </form><!-- /.form-->
      <p class="mb-0">
        <a th:href="@{/register}" class="text-center">
          <span th:text="#{pages.login.register-message}"></span>
        </a>
      </p>
    </div>
  </div><!-- /.card -->
</div><!-- /.login-box -->

<!-- Required Scripts -->
<div th:replace="fragments/required-scripts :: required-scripts"></div>

</body>
</html>
